// @ imports:
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

.heighlight {
  border-bottom: dotted rgb(165, 164, 164) 2px;
}
.not_done {
  background: rgb(255, 120, 120);
  padding: 0px 15px;
  font-size: 0.8rem;
  border-radius: 5px;
}
.done {
  background: rgb(51, 255, 82);
  padding: 0px 15px;
  font-size: 0.8rem;
  border-radius: 5px;
}
// the wave:
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
// main :
body {
  width: 100%;
  overflow-x: hidden;
}

.projects {
  backdrop-filter: blur(15px);

  background-image: linear-gradient(
    130deg,
    hsl(55deg 95% 70%) 1%,
    hsl(55deg 93% 72%) 44%,
    hsl(56deg 91% 74%) 51%,
    hsl(56deg 89% 75%) 52%,
    hsl(57deg 87% 76%) 52%,
    hsl(56deg 86% 78%) 51%,
    hsl(57deg 83% 80%) 52%,
    hsl(57deg 81% 81%) 56%,
    hsl(57deg 80% 83%) 87%
  );
  .card {
    cursor: pointer;
  }
  .card-text {
    line-height: 2.1rem;
  }
}
.text {
  display: grid;
  place-items: center center;
}
header , .contact {
  height: 100vh;
  @media screen and (max-width: 900px){
    height: auto;
  }
}
.text-container {
  h1 {
    font-size: 4rem;
    font-weight: bolder;
    margin: 0px auto !important;
  }
  p {
    font-size: 1.3rem;
    line-height: 2.3rem;
  }
  width: 88%;
  @media screen and (max-width: 900px) {
    h1 {
      font-size: 3.1rem;
      padding: 1rem 0rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
// reviews:
.reviews {
  width: 100%;
  overflow: hidden;
  background-image: radial-gradient(rgba(108, 110, 245, 0.73) 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: rgba(224, 255, 71, 0.59);
  // overflow-x: scroll;
}
.skill-box {
  border: 2px solid black;
  border-radius: 7px;
  .skill-small-box {
    display: inline-block;
    font-size: 1.7rem;
    border-radius: 5px;
  }
}

.contact {
  .content-section,
  .img-section {
    display: grid;
    place-items: center center;
  }
  .img-section {
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  @media screen and (max-width: 900px) {
    h3 {
      font-size: 20px;
    }
  }
}
footer {
  padding: 1rem;
  display: grid;
  place-items: center center;
  p {
    margin: 0 !important;
    color:white;
  }
  @media screen and (max-width:900px){
    p{
      font-size: 13px;
    }
  }
}
